/* Page Style Formatting */

body {

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1, h3 {
    
    font-weight: bold;
    text-shadow: 2px 2px 4px lightskyblue;
    color: darkblue;
}

p, #messageBox {

    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;

}

#messageBox, .centeredelement {
    text-align: center;
    height: 2em;
}

p {
    width: 70%;
    margin: 1em auto;
}


.rowofboxes {

    display: flex;
    justify-content: center;

}

div[id^="line"] {

    display: none;
    background-color: red;
    position: fixed;
    opacity: 50%;
    height: 15px;
    width: 223px;

}

#line2 {
    transform: translate(0px, 140px) rotate(90deg);
}

#line3 {
    transform: translate(98px, 140px) rotate(90deg);
}

#line4 {
    transform: translate(0px, 47px);
}

#line5 {
    transform: translate(0px, 45px);
}

.clickable {

    display: block;
    width: 48pt;
    height: 48pt;
    text-align: center;
    font-size: 49pt;
    padding: 10pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(34, 10, 250);

    transition: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

}

.clickable:hover {

    background-color: rgb(238, 40, 70);

}

#square1 {

    border-bottom: solid black 3pt;
    border-right: solid black 3pt;

}

#square2 {

    border-bottom: solid black 3pt;
    border-right: solid black 3pt;
    border-left: solid black 3pt;

}

#square3 {

    border-bottom: solid black 3pt;
    border-left: solid black 3pt;

}

#square4 {

    border-bottom: solid black 3pt;
    border-right: solid black 3pt;
    border-top: solid black 3pt;

}

#square5 {

    border: solid black 3pt;

}

#square6 {

    border-bottom: solid black 3pt;
    border-left: solid black 3pt;
    border-top: solid black 3pt;

}

#square7 {

    border-right: solid black 3pt;
    border-top: solid black 3pt;

}

#square8 {

    border-left: solid black 3pt;
    border-right: solid black 3pt;
    border-top: solid black 3pt;

}

#square9 {

    border-left: solid black 3pt;
    border-top: solid black 3pt;

}

button {
    margin: 20px;
    padding: 8px;
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    background-color: wheat;
    border-radius: 8px;
}

.scorecard {

    width: 320px;
    margin: auto;
    position: fixed;
    background-color: linen;
    border: 2pt solid black;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    left: -300px;
    
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;

}

.scorecardpinned {

    left: -10px;

}

.scorecard:hover {

    left: -10px;

}

#pin {

    position: relative;
    left: 122px;
    top: 26px;

}

